body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-page {
  flex-grow: 1;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
input {
  font-family: inherit;
}
